/**
 * Box model
 */
@mixin blocks-list($type: block) {
    list-style: none;

    @if $type == inline {
        @include blocks-list();
        @include clearfix();

        > li {
            float: left;
        }
    } @else {
        @include cancel();
        display: block;

        > li {
            display: block;
        }
    }
}