/**
 * Typography
 */

@mixin is-indented($indent: -9999px) {
    @if $indent == inherit or (type-of($indent) == number and not unitless($indent)) {
        text-indent: $indent;
    }
}

@mixin font-size($size, $line) {
    font-size: $size;

    @if unitless($line) {
        line-height: $size * $line;
    }

    @if type-of($line) == number and not unitless($line) {
        line-height: $line;
    }
}

