/**
 * Размеры для кнопок.
 */
$button-size-xxl: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);

$button-size-xl: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);

$button-size-lg: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);

$button-size-md: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);

$button-size-sm: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);

$button-size-xs: (
    'border-width': 1px,
    'border-radius': 1px,
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px
);
