/********************************
 * Clearfix
 ********************************/
%clearfix {

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.clearfix {
    @extend %clearfix;
}
