/********************************
 * Lists
 ********************************/
.#{$namespace}list-reset {
    list-style: none;
    padding-left: 0;
}

.#{$namespace}list-inline {
    @extend .list-reset;

    > li {
        display: inline-block;
    }
}

/**
 * Styles
 */
@each $style in (disc, circle, square) {
    .#{$namespace}list-#{$style} {
        list-style-type: $style;
    }
}
