/********************************
 * Lists
 ********************************/
%list--reset {
    list-style: none;
    padding-left: 0;
}
.list--reset {
    @extend %list--reset;
}

.list-inline {
    @extend %list--reset;

    > li {
        display: inline-block;
    }
}

/**
 * Styles
 */
@each $style in (disc, circle, square) {
    .list--#{$style} {
        list-style-type: $style;
    }
}
