/**
 * Lists
 */
.list-reset {
    list-style: none;
    padding-left: 0;
}

.list-inline {
    @extend .list-reset;

    > li {
        display: inline-block;
    }
}

// Style
@each $style in (disc, circle, square) {
    .list-#{$style} {
        list-style-type: $style;
    }
}
