/********************************
* States
********************************/
.is-hidden {
    display: none !important;
}

.is-disabled {
    cursor: default;
}

.overflow-hidden {
    overflow: hidden;
}