/**
 * Text utilities
 */

// Styles
.#{$namespace}text-regular {
    font-weight: normal;
}

.#{$namespace}text-bold {
    font-weight: bold;
}

.#{$namespace}text-italic {
    font-style: italic;
}

// Alignment
@each $direction in (left, center, right, justify) {
    .#{$namespace}text-#{$direction} {
        text-align: $direction;
    }
}

// Decorations
.#{$namespace}text-strike {
    text-decoration: line-through;
}

.#{$namespace}text-overline {
    text-decoration: overline;
}

.#{$namespace}text-underline {
    text-decoration: underline;
}

// Transformations
@each $transform in (lowercase, uppercase, capitalize) {
    .#{$namespace}text-#{$transform} {
        text-transform: $transform;
    }
}

.#{$namespace}text-nowrap {
    white-space: nowrap;
}

.#{$namespace}text-truncate {
    @include text-truncate();
}