/********************************
 * Text utilities
 ********************************/

/**
 * Base
 */
.#{$namespace}text {
    @include text-size($text-size-md);
}

/**
 * Sizes
 */
.#{$namespace}text--xxl {
    @include text-size($text-size-xxl);
}

.#{$namespace}text--xl {
    @include text-size($text-size-xl);
}

.#{$namespace}text--lg {
    @include text-size($text-size-lg);
}

.#{$namespace}text--md {
    @include text-size($text-size-md);
}

.#{$namespace}text--sm {
    @include text-size($text-size-sm);
}

.#{$namespace}text--xs {
    @include text-size($text-size-xs);
}

/**
 * Styles
 */
.#{$namespace}text--regular { // ?
    font-weight: normal;
}

.#{$namespace}text--bold { // ? strong, b
    font-weight: bold;
}

.#{$namespace}text--italic { // ? em, i
    font-style: italic;
}

/**
 * Alignment
 */
@each $direction in (left, center, right, justify) {
    .#{$namespace}text--#{$direction} {
        text-align: $direction;
    }
}

/**
 * Vertical alignment
 */
@each $direction in (top, middle, bottom) {
    .#{$namespace}text--#{$direction} {
        text-align: $direction;
    }
}

/**
 * Decorations
 */
.#{$namespace}text--strike { // s, del
    text-decoration: line-through;
}

.#{$namespace}text--overline {
    text-decoration: overline;
}

.#{$namespace}text--underline {
    text-decoration: underline;
}

/**
 * Transformations
 */
@each $transform in (lowercase, uppercase, capitalize) {
    .#{$namespace}text--#{$transform} {
        text-transform: $transform;
    }
}

/**
 * Misc ????????????????? smallcaps, highlight
 */
.#{$namespace}text--nowrap {
    white-space: nowrap;
}

.#{$namespace}text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Variants
 */
//.#{$namespace}text--primary {
//
//}
//
//.#{$namespace}text--secondary {
//
//}