/**
 * Text utilities
 */

// Styles
.text-regular {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

// Alignment
@each $direction in (left, center, right, justify) {
    .text-#{$direction} {
        text-align: $direction;
    }
}

// Decorations
.text-strike {
    text-decoration: line-through;
}

.text-overline {
    text-decoration: overline;
}

.text-underline {
    text-decoration: underline;
}

// Transformations
@each $transform in (lowercase, uppercase, capitalize) {
    .text-#{$transform} {
        text-transform: $transform;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    @include text-truncate();
}