/********************************
 * Text utilities
 ********************************/

/**
 * Base
 */
.text {
    @include text-size($text-size-md);
}

/**
 * Sizes
 */
.text--xxl {
    @include text-size($text-size-xxl);
}

.text--xl {
    @include text-size($text-size-xl);
}

.text--lg {
    @include text-size($text-size-lg);
}

.text--md {
    @include text-size($text-size-md);
}

.text--sm {
    @include text-size($text-size-sm);
}

.text--xs {
    @include text-size($text-size-xs);
}

/**
 * Styles
 */
.text--regular { // ?
    font-weight: normal;
}

.text--bold { // ? strong, b
    font-weight: bold;
}

.text--italic { // ? em, i
    font-style: italic;
}

/**
 * Alignment
 */
@each $direction in (left, center, right, justify) {
    .text--#{$direction} {
        text-align: $direction;
    }
}

/**
 * Vertical alignment
 */
@each $direction in (top, middle, bottom) {
    .text--#{$direction} {
        text-align: $direction;
    }
}

/**
 * Decorations
 */
.text--strike { // s, del
    text-decoration: line-through;
}

.text--overline {
    text-decoration: overline;
}

.text--underline {
    text-decoration: underline;
}

/**
 * Transformations
 */
@each $transform in (lowercase, uppercase, capitalize) {
    .text--#{$transform} {
        text-transform: $transform;
    }
}

/**
 * Misc ????????????????? smallcaps, highlight
 */
.text--nowrap {
    white-space: nowrap;
}

.text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Variants
 */
.text--primary {

}

.text--secondary {

}
