/********************************
 * Width utilities
 * 
 * Outputs classes
 * .w-0 - .w-100
 ********************************/
$width-start: 100;
$width-step: 5;

$width-i: $width-start;

@while $width-i > 0 {
    .w-#{$width-i} {
        width: $width-i * 1%;
    }

    $width-i: $width-i - $width-step;
}
