/********************************
 * Buttons
 ********************************/

@import '../settings/buttons';

@mixin button-size($size) {
    padding: map-get($size, 'padding-vertical') map-get($size, 'padding-horizontal');
    font-size: map-get($size, 'font-size');
    line-height: map-get($size, 'line-height');
    border-radius: map-get($size, 'border-radius');
}

@mixin button-variant($variant) {
    $default-text-color: map-get($variant, 'default-text-color');
    $default-background-color: map-get($variant, 'default-background-color');
    $default-border-color: map-get($variant, 'default-border-color');

    @if $default-background-color == null {
        $default-background-color: transparent;
    }

    @if $default-border-color == null {
        $default-border-color: $default-background-color;
    }

    $hover-text-color: map-get($variant, 'hover-text-color');
    $hover-background-color: map-get($variant, 'hover-background-color');
    $hover-border-color: map-get($variant, 'hover-border-color');

    @if $hover-background-color == null {
        $hover-background-color: transparent;
    }

    @if $hover-border-color == null {
        $hover-border-color: $hover-background-color;
    }

    $active-text-color: map-get($variant, 'active-text-color');
    $active-background-color: map-get($variant, 'active-background-color');
    $active-border-color: map-get($variant, 'active-border-color');

    @if $active-background-color == null {
        $active-background-color: transparent;
    }

    @if $active-border-color == null {
        $active-border-color: $active-background-color;
    }

    border-color: $default-border-color;
    background-color: $default-background-color;
    color: $default-text-color;

    &:hover {
        border-color: $hover-border-color;
        background-color: $hover-background-color;
        color: $hover-text-color;
    }

    &:active,
    &:focus {
        border-color: $active-border-color;
        background-color: $active-background-color;
        color: $active-text-color;
    }
}
