/**
 * Примесь, которая задает сетку внешних или внутренних отступов.
 * @param $type {padding|margin} Тип отступа.
 * @param $start Начальное значение для сетки.
 * @param $finish Конечно значение.
 * @param $step Шаг.
 *
 * @example
 *
 * @include create-spaces(margin, 0, 10, 5);
 * Создаст сетку:
 * .mt-0, .mr-0, .mb-0, .ml-0,
 * .mt-5, .mr-5, .mb-5, .ml-5,
 * .mt-10, .mr-10, .mb-10, .ml-10
 */
@mixin create-spaces($type, $start, $finish, $step) {
    $i: $start;
    $sides: (top: 't', right: 'r', bottom: 'b', left: 'l');
    $types: (padding: 'p', margin: 'm');

    @while $i <= $finish {
        @each $side in (top, right, bottom, left) {
            .#{map-get($types, $type)}#{map-get($sides, $side)}-#{$i} {
                #{$type}-#{$side}: $i * 1px;
            }
        }

        $i: $i + $step;
    }
}
