/********************************
 * Links
 ********************************/
%link {
    display: inline-block;
    color: $link-color;
    border-bottom: 1px solid $link-border-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        border-color: $link-hover-border-color;
    }

    &:active {
        color: $link-active-color;
        border-color: $link-active-border-color;
    }

    &:visited {
        color: $link-visited-color;
        border-color: $link-visited-border-color;
    }
}