/********************************
 * Shapes
 ********************************/

/**
 * Triangles
 *
 * Directions: up, right, down, left
 */
@mixin triangle($direction, $width, $height, $color, $background-color: transparent) {
    @include size(0);

    @mixin border-y {
        border-right: ($width / 2) solid $background-color;
        border-left: ($width / 2) solid $background-color;
    }

    @mixin border-x {
        border-top: ($height / 2) solid $background-color;
        border-bottom: ($height / 2) solid $background-color;
    }

    @if $direction == up {
        @include border-y();
        border-top: 0;
        border-bottom: $height solid $color;
    }

    @if $direction == right {
        @include border-x();
        border-right: 0;
        border-left: $width solid $color;
    }

    @if $direction == down {
        @include border-y;
        border-top: $height solid $color;
        border-bottom: 0;
    }

    @if $direction == left {
        @include border-x;
        border-right: $width solid $color;
        border-left: 0;
    }
}

@mixin circle ($size) {
    @include size($size);
    border-radius: 50%;
}
