/********************************
 * Typography
 ********************************/

@mixin font-face($name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $name;
        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin font-family($type, $font) {
    @if $type == sans {
        font-family: $font, $font-family-sans-serif;
    }

    @if $type == serif {
        font-family: $font, $font-family-serif;
    }

    @if $type == mono {
        font-family: $font, $font-family-mono;
    }
}

@mixin text-size($size) {
    @if map-has-key($size, 'font-size') {
        font-size: map-get($size, 'font-size');
    }

    @if map-has-key($size, 'line-height') {
        line-height: map-get($size, 'line-height');
    }
}
