.button { // --- Базовый класс для кнопок
    display: block;
    border: none;
    padding: 0;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    // --- Модификаторы

    &--huge { // .button--huge

    }

    &--large { // .button--large

    }

    &--small { // .button--small

    }

    // --- Кнопки

    &-default { // .button-default
        
        &:hover {

        }

        &:active {

        }        
    }

    &-success { // .button-success

        &:hover {

        }

        &:active {

        }
    }

    &-submit { // .button-submit

        &:hover {

        }

        &:active {

        }
    }

    &-cancel { // .button-cancel

        &:hover {

        }

        &:active {

        }
    }
}