.button {
    display: block;
    border: none;
    padding: 0;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    // --- modifiers

    // --- modifiers:sizes
    &--huge {

    }

    &--large {

    }

    &--small {

    }

    // --- modifiers:types

    &--success {

        &:hover {

        }

        &:active {

        }
    }

    &--submit {

        &:hover {

        }

        &:active {

        }
    }

    &--cancel {

        &:hover {

        }

        &:active {

        }
    }
}