// --- Базовые цвета
$color-blue: #0e83cd;
$color-gray-30: #303030;
$color-gray-f0: #f0f0f0;
$color-red: #cd4436;
$color-slate: #435a6b;
$color-white: #ffffff;

// --- Цвета темы
$color-link: $color-blue;
$color-link-hover: $color-red;
$color-body: $color-white;
$color-base: $color-gray-30;
$color-footer: $color-gray-f0;