.gr-row {
    @include clearfix();
}

.gr-col {
    float: left;
    width: 100%;

    // .gr-col-5, .gr-col-10, ... .gr-col-95 - %
    $w: 95;
    @while $w > 0 {
        &.gr-col-#{$w} {
            width: $w * 1%;
        }
        $w: $w - 5;
    }

    // .gr-col-offset-5, .gr-col-offset-10, ... .gr-col-offset-95 - %
    $w: 95;
    @while $w > 0 {
        &.gr-col-offset-#{$w} {
            margin-left: $w * 1%;
        }
        $w: $w - 5;
    }
}