.grid {

    &__row {
        @include clearfix();
    }

    &__cell {
        float: left;
        width: 100%;
    }

    // .gr-cell--5, .gr-cell--10, ... .gr-cell-95 - %
    $w: 95;
    @while $w > 0 {
        &__cell--#{$w} {
            width: $w * 1%;
        }
        $w: $w - 5;
    }

    // .gr-cell--offset-5, .gr-cell--offset-10, ... .gr-cell--offset-95 - %
    $w: 95;
    @while $w > 0 {
        &__cell--offset-#{$w} {
            margin-left: $w * 1%;
        }
        $w: $w - 5;
    }
}