.is-link {

}

.is-left {
    float: left;
}

.is-right {
    float: right;
}

.is-indented {
    text-indent: -9999px;
}

.is-hidden {
    display: none;
    visibility: hidden;
}

.is-scrollable-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.is-not-scrollable {
    overflow: hidden;
}

.is-disabled {

}

.is-current {

}

.is-active {

}

// etc.