table {
    width: 100%;
}

thead {

}

tbody {

}

tfoot {

}

tr {

}

td,
th {

}

.table {

    // --- elements

    &__header {

    }

    &__body {

    }

    &__footer {

    }

    &__row {

    }

    &__cell {

    }

    @each $direction in (left, center, right) {
        // .table__cell--left, .table__cell--center, .table__cell--right
        &__cell--#{$direction} {
            text-align: $direction;
        }
    }

    $w: 95;
    @while $w > 0 {
        // .table__cell--5, .table__cell--10, ... .table__cell--95 - %
        &__cell--#{$w} {
            width: $w * 1%;
        }
        $w: $w - 5;
    }

    // --- modifiers

    &--striped {

    }

    &--bordered {

    }
}