html {
    font-size: 16px;
    line-height: 1.5;
    @include font-family(serif, $font-serif);
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {

}

.h1, .h2, .h3, .h4, .h5, .h6 {

}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

/**
 * Lists
 */

dl, ol, ul, p, blockquote {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol {

    li {

    }
}

ul {

    li {

    }
}

li {
    ol, ul {
        margin-left: 1rem;
    }
}

dl {

}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2rem;
    margin-bottom: .5rem;
}

/**
 * Utilities
 */

// Styles
.text-regular {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

// Alignment
@each $direction in (left, center, right, justify) {
    .text-#{$direction} {
        text-align: $direction;
    }
}

// Decorations
.text-strike {
    text-decoration: line-through;
}

.text-overline {
    text-decoration: overline;
}

.text-underline {
    text-decoration: underline;
}

// Transformations
@each $transform in (lowercase, uppercase, capitalize) {
    .text-#{$transform} {
        text-transform: $transform;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    @include text-truncate();
}