/********************************
 * Typography
 ********************************/
body {
    @include text-size($body-text-size);

    font-family: $body-font-family;
}

/**
 * Headings
 */
$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6);

@each $key, $value in $headings {
    #{$key}, .#{$namespace}#{$key} {
        @include text-size($value);

        @if map-has-key($value, 'margin-top') {
            margin-top: map-get($value, 'margin-top');
        }

        @if map-has-key($value, 'margin-bottom') {
            margin-bottom: map-get($value, 'margin-bottom');
        }
    }
}

/**
 * Links
 */

/**
 * Paragraph
 */
p, .#{$namespace}paragraph {
    margin-top: $paragraph-margin-top;
    margin-bottom: $paragraph-margin-bottom;
}

/**
 * Lists
 */
ul, ol {
    margin-top: $list-margin-top;
    margin-bottom: $list-margin-bottom;
    padding-left: 0;
    list-style-position: inside;

    ul, ol {
        margin-left: $list-indent-size;
    }
}

/**
 * Definition lists
 */

/**
 * Misc
 */
abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

i, em {
    @extend .#{$namespace}text-italic;
}

b, strong {
    @extend .#{$namespace}text-bold;
}

small, .#{$namespace}small {
    font-size: $small-font-size;
}

sub, sup {
    @include text-size($sub-sup-text-size);

    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}