html,
body {
    @include size(100%);
}

body {
    background-color: $color-body;
    color: $color-base;
}

.l-layout {
    @include size(100%);
    height: auto !important;
    min-height: 100%;
}

.l-push {
    height: $footer-height;
}

.l-header {
    height: $footer-height;
    @include gradient(vertical, #fff, #eee);
}

.l-body {

}

.l-footer {
    height: $footer-height;
    margin-top: -$footer-height;
}

.l-container {
    width: $layout-width;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
}