/**
 * Buttons
 */
@mixin button-size($size) {
    padding: map-get($size, 'padding-vertical') map-get($size, 'padding-horizontal');
    font-size: map-get($size, 'font-size');
    line-height: map-get($size, 'line-height');
    border-radius: map-get($size, 'border-radius');
}
