/**
 * Sizing shortcuts
 */
@mixin size($width, $height: $width) {
    @if $width == auto or (type-of($width) == number and not unitless($width)) {
        width: $width;
    }

    @if $height == auto or (type-of($height) == number and not unitless($height)) {
        height: $height;
    }
}