/********************************
 * Spaces
 ********************************/
@mixin space-create($type, $side, $size) {
    $char: map-get(('top': 't', 'right': 'r', 'bottom': 'b', 'left': 'l'), $side);

    @if $type == margin {
        .#{$namespace}m-#{$char}-#{$size / 1px} {
            margin-#{$side}: $size;
        }
    }

    @if $type == padding {
        .#{$namespace}p-#{$char}-#{$size / 1px} {
            padding-#{$side}: $size;
        }
    }
}

@mixin margin-create($type, $step, $limit) {
    $i: $limit;

    @while $i >= 0 {
        @include space-create(margin, $type, $i);
        $i: $i - $step;
    }
}

@mixin padding-create($type, $step, $limit) {
    $i: $limit;

    @while $i >= 0 {
        @include space-create(padding, $type, $i);
        $i: $i - $step;
    }
}