/**
 * Buttons
 */
// Sizes
$btn-size-xl: (
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px,
    'border-radius': 1px
);
$btn-size-lg: (
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px,
    'border-radius': 1px
);
$btn-size-md: (
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px,
    'border-radius': 1px
);
$btn-size-sm: (
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px,
    'border-radius': 1px
);
$btn-size-xs: (
    'padding-vertical': 1px,
    'padding-horizontal': 1px,
    'font-size': 1px,
    'line-height': 1px,
    'border-radius': 1px
);
