/********************************
 * Typography
 ********************************/

/**
 * Font Families
 */
$font-family-sans-serif: Arial, Tahoma, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-mono: Consolas, "Courier New", monospace;

/**
 * Body
 */
$body-font-family: $font-family-sans-serif;
$body-text-size: ('font-size': 1rem, 'line-height': 1.5);

/**
 * Headings
 *
 * All rules is optional.
 */
$headings-font-weight: bold !default;
$headings-line-height: 1.5 !default;
$headings-margin-top: 0.5rem !default;
$headings-margin-bottom: 1rem !default;

$h1: (
    'font-size': 2rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);
$h2: (
    'font-size': 1.5rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);
$h3: (
    'font-size': 1.25rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);
$h4: (
    'font-size': 1rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);
$h5: (
    'font-size': .875rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);
$h6: (
    'font-size': .75rem,
    'line-height': $headings-line-height,
    'margin-top': $headings-margin-top,
    'margin-bottom': $headings-margin-bottom,
);

/**
 * Links
 */


/**
 * Paragraph
 */
$paragraph-margin-top: 0;
$paragraph-margin-bottom: 1rem;

/**
 * Lists
 */
$list-margin-top: 1rem;
$list-margin-bottom: 1rem;
$list-indent-size: 1rem;

/**
 * Definition lists
 */

/**
 * Misc
 */
$small-font-size: 80%;
$sub-sup-text-size: ('font-size': $small-font-size, 'line-height': 0);